*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #2874f0;
    height:50px;
}
.header .header-list{
    display: flex;
    justify-content: space-around;
    background-color: #2874f0;
    align-items: center;
}

.header-list li{
    list-style-type: none;
}
.header-list li a{
    text-decoration: none;
}

.flipkart-name{
    display: flex;
    flex-direction: column;
}

.options{
    background-color: antiquewhite;
}
.options .options-list{
    display: flex;
    justify-content:space-around;
}

.options .options-list li{
    list-style-type: none;
    justify-content: space-around;
}
.options .options-list li a img{
    width: 60px;
    height: auto;
}

.dealoftheday .dealoftheday-list{
    display: flex;
    justify-content:space-evenly;
}